#home {
  padding: 50px;
  display: flex;
  gap: 50px;
  .statistics {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    height: fit-content;
    flex-grow: 1;
    .box {
      background-color: #000;
      color: #fff;
      //   width: 400px;
      padding: 20px;
      display: flex;
      justify-content: space-between;
      border-radius: 5px;
      div {
        display: flex;
        align-items: center;
        gap: 20px;
        svg {
          font-size: 25px;
        }
        h3 {
          font-size: 25px;
        }
      }
      .value {
        color: red;
        font-size: 30px;
        font-weight: bold;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 1px solid #fff;
        display: grid;
        place-items: center;
      }
    }
  }
  .hot-links {
    height: 100%;
    display: flex;
    align-items: center;
    ul {
      $radius: 10px;
      list-style: none;
      li {
        width: 400px;
        padding: 5px 20px;
        background-color: #eee;
        &:first-child {
          border-radius: $radius $radius 0 0;
        }
        &:last-child {
          border-radius: 0 0 $radius $radius;
        }
        &:nth-child(odd) {
          background-color: #ccc;
        }
        a {
          text-decoration: none;
          color: #000;
        }
      }
    }
  }
}
